
head{
  border-style: ridge;
  background-position: center;
  text-align: center;
}
h1 {
  background-color: bisque;
  font-size: 50px;
  text-align: center;
  color: red;

  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}
body{
  border-style: dotted;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3wugvpr0pwYE4u5Srsk-WKHD0TLBXoyn74ELuzKNlQGC9GIFm");
}
p {
  font-family: "Times New Roman", Times, serif;
}

table, th, td {
  background-color: #cccccc;
  border: 1px solid red;
  background-position: center;
  text-align: center;
  font-size: 30px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
